.header{
    position: relative;
    outline: 1px solid rgb(0, 0, 0);
    
    &__box{
        background-color: #D9D9D9;
        position: relative;
        z-index: 101;
        padding-block: 15px;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & img{
        display: block;
    }

    &__logo{
        height: 50px;
    }
}